sudo: false

language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

php:
  - 7.2
  - 7.3
  - 7.4

install: travis_retry composer install --ignore-platform-reqs --no-interaction
before_script: composer require phpunit/phpunit --ignore-platform-reqs
script: lib/vendor/bin/phpunit --configuration phpunit.xml
