sudo: false

language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

php:
  - 7.3
  - 7.4

install: travis_retry composer install --no-interaction
before_script: composer require phpunit/phpunit && composer update -q -n -a
script: lib/vendor/bin/phpunit --configuration phpunit.xml
